html {
    height: 100%;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    overflow: hidden;
  }
  
  #stars {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 133px 856px #fff, 1944px 1393px #fff, 1731px 1623px #fff,
      1835px 614px #fff, 1198px 87px #fff, 375px 429px #fff, 1104px 201px #fff,
      90px 702px #fff, 144px 1364px #fff, 204px 87px #fff, 1646px 847px #fff,
      1398px 165px #fff, 1559px 1132px #fff, 884px 1127px #fff, 671px 1988px #fff,
      1544px 1991px #fff, 47px 1477px #fff, 878px 1138px #fff, 817px 1384px #fff,
      1475px 1493px #fff, 1342px 1138px #fff, 1699px 856px #fff,
      1736px 1083px #fff, 1347px 190px #fff, 1067px 525px #fff, 31px 777px #fff,
      925px 303px #fff, 989px 878px #fff, 1155px 123px #fff, 1817px 1619px #fff,
      1913px 1681px #fff, 1079px 388px #fff, 273px 169px #fff, 1251px 1494px #fff,
      1394px 426px #fff, 743px 1865px #fff, 1001px 1127px #fff, 1627px 1007px #fff,
      882px 1629px #fff, 691px 1453px #fff, 893px 1967px #fff, 1117px 681px #fff,
      1593px 1483px #fff, 1321px 329px #fff, 113px 1558px #fff, 800px 763px #fff,
      25px 46px #fff, 356px 92px #fff, 218px 487px #fff, 1414px 126px #fff,
      152px 264px #fff, 971px 340px #fff, 557px 185px #fff, 722px 1318px #fff,
      847px 583px #fff, 1318px 1682px #fff, 1420px 445px #fff, 1579px 614px #fff,
      429px 1895px #fff, 1296px 599px #fff, 1076px 746px #fff, 1061px 394px #fff,
      111px 180px #fff, 1684px 580px #fff, 1249px 410px #fff, 1603px 1245px #fff,
      690px 1263px #fff, 164px 660px #fff, 1026px 1561px #fff, 1693px 1749px #fff,
      1226px 844px #fff, 1307px 1436px #fff, 903px 1547px #fff, 1905px 999px #fff,
      1084px 303px #fff, 1675px 314px #fff, 1295px 446px #fff, 607px 1718px #fff,
      37px 454px #fff, 1367px 395px #fff, 1528px 940px #fff, 133px 91px #fff,
      712px 787px #fff, 1731px 1916px #fff, 45px 794px #fff, 1576px 942px #fff,
      1116px 485px #fff, 1038px 1108px #fff, 399px 1011px #fff, 918px 121px #fff,
      749px 126px #fff, 981px 1501px #fff, 1655px 929px #fff, 157px 537px #fff,
      211px 365px #fff, 1460px 1121px #fff, 1967px 1341px #fff, 1584px 1454px #fff,
      1540px 213px #fff, 553px 344px #fff, 569px 67px #fff, 128px 746px #fff,
      1341px 66px #fff, 1815px 1219px #fff, 1189px 596px #fff, 1774px 598px #fff,
      1589px 539px #fff, 1924px 426px #fff, 184px 463px #fff, 667px 1654px #fff,
      257px 1207px #fff, 375px 240px #fff, 1519px 885px #fff, 1923px 1859px #fff,
      109px 1060px #fff, 494px 859px #fff, 876px 113px #fff, 1290px 297px #fff,
      1381px 1425px #fff, 188px 891px #fff, 192px 208px #fff, 187px 1104px #fff,
      923px 1047px #fff, 1253px 1648px #fff, 93px 1050px #fff, 557px 1025px #fff,
      1608px 519px #fff, 1567px 72px #fff, 1748px 69px #fff, 619px 781px #fff,
      1129px 819px #fff, 285px 1464px #fff, 844px 311px #fff, 95px 250px #fff,
      703px 579px #fff, 134px 384px #fff, 577px 861px #fff, 1680px 1918px #fff,
      389px 821px #fff, 35px 1654px #fff, 1167px 992px #fff, 836px 1640px #fff,
      1629px 57px #fff, 188px 474px #fff, 1847px 1645px #fff, 1512px 874px #fff,
      1817px 1929px #fff, 650px 49px #fff, 673px 874px #fff, 312px 648px #fff,
      317px 754px #fff, 583px 195px #fff, 350px 1646px #fff, 1899px 180px #fff,
      1769px 1490px #fff, 1704px 584px #fff, 1631px 414px #fff, 988px 1137px #fff,
      1263px 1494px #fff, 1029px 1938px #fff, 1871px 283px #fff, 865px 666px #fff,
      69px 1633px #fff, 1395px 1334px #fff, 1637px 23px #fff, 1975px 542px #fff,
      1326px 302px #fff, 690px 443px #fff, 718px 1399px #fff, 405px 1615px #fff,
      913px 796px #fff, 312px 1650px #fff, 481px 1432px #fff, 235px 1564px #fff,
      392px 1462px #fff, 861px 831px #fff, 1909px 166px #fff, 183px 862px #fff,
      688px 1323px #fff, 1767px 1065px #fff, 409px 1540px #fff, 16px 877px #fff,
      1870px 1045px #fff, 1561px 1353px #fff, 989px 638px #fff, 713px 1747px #fff,
      1130px 1022px #fff, 336px 1543px #fff, 1331px 1227px #fff,
      1442px 1362px #fff, 1560px 1584px #fff, 562px 594px #fff, 1488px 1732px #fff,
      550px 1869px #fff, 198px 543px #fff, 1877px 1054px #fff, 814px 1810px #fff,
      77px 1195px #fff, 1141px 825px #fff, 125px 1976px #fff, 1546px 1096px #fff,
      1456px 1234px #fff, 188px 1087px #fff, 483px 760px #fff, 1788px 1863px #fff,
      93px 1321px #fff, 532px 1261px #fff, 1759px 1648px #fff, 477px 1943px #fff,
      122px 18px #fff, 772px 93px #fff, 542px 1374px #fff, 412px 1px #fff,
      685px 1173px #fff, 1259px 513px #fff, 1513px 1241px #fff, 1969px 683px #fff,
      1741px 390px #fff, 662px 622px #fff, 1125px 870px #fff, 1934px 1806px #fff,
      419px 1180px #fff, 6px 1919px #fff, 1924px 1964px #fff, 1792px 230px #fff,
      61px 1550px #fff, 819px 469px #fff, 719px 1554px #fff, 701px 535px #fff,
      223px 916px #fff, 1535px 1247px #fff, 496px 1044px #fff, 729px 431px #fff,
      1767px 161px #fff, 1924px 723px #fff, 897px 900px #fff, 448px 1324px #fff,
      245px 1925px #fff, 1195px 921px #fff, 858px 1107px #fff, 1846px 774px #fff,
      156px 937px #fff, 1713px 1222px #fff, 511px 574px #fff, 474px 587px #fff,
      1413px 507px #fff, 1722px 832px #fff, 1359px 1416px #fff, 1244px 913px #fff,
      212px 36px #fff, 701px 616px #fff, 286px 237px #fff, 1628px 273px #fff,
      510px 672px #fff, 958px 1698px #fff, 468px 285px #fff, 1940px 952px #fff,
      1161px 644px #fff, 1845px 574px #fff, 770px 1679px #fff, 1350px 1980px #fff,
      1708px 1913px #fff, 907px 1371px #fff, 759px 592px #fff, 994px 291px #fff,
      917px 1630px #fff, 550px 1611px #fff, 152px 1210px #fff, 421px 942px #fff,
      1068px 1575px #fff, 1110px 1121px #fff, 607px 536px #fff, 420px 1054px #fff,
      454px 600px #fff, 1444px 745px #fff, 1088px 744px #fff, 844px 89px #fff,
      210px 1944px #fff, 841px 391px #fff, 415px 1146px #fff, 985px 315px #fff,
      1394px 1290px #fff, 955px 122px #fff, 1255px 1360px #fff, 1075px 251px #fff,
      1262px 50px #fff, 70px 155px #fff, 1772px 1855px #fff, 39px 217px #fff,
      1143px 553px #fff, 757px 985px #fff, 1143px 621px #fff, 1046px 1296px #fff,
      1761px 375px #fff, 7px 554px #fff, 1534px 1238px #fff, 1894px 1905px #fff,
      1696px 1336px #fff, 477px 1609px #fff, 1935px 1765px #fff, 23px 156px #fff,
      520px 947px #fff, 957px 1729px #fff, 1104px 1340px #fff, 434px 877px #fff,
      1038px 1069px #fff, 413px 1832px #fff, 329px 1439px #fff, 41px 908px #fff,
      960px 1191px #fff, 16px 678px #fff, 1732px 96px #fff, 141px 1981px #fff,
      1204px 1451px #fff, 1264px 1458px #fff, 1907px 858px #fff, 1112px 671px #fff,
      1917px 541px #fff, 1027px 412px #fff, 171px 596px #fff, 1876px 1375px #fff,
      1800px 1097px #fff, 956px 154px #fff, 1379px 704px #fff, 935px 243px #fff,
      1557px 399px #fff, 216px 1001px #fff, 1426px 1183px #fff, 541px 315px #fff,
      413px 937px #fff, 1726px 394px #fff, 1318px 741px #fff, 1794px 1270px #fff,
      1351px 493px #fff, 730px 633px #fff, 903px 1321px #fff, 559px 342px #fff,
      1656px 758px #fff, 787px 1329px #fff, 168px 118px #fff, 272px 1197px #fff,
      417px 521px #fff, 906px 281px #fff, 175px 676px #fff, 442px 1416px #fff,
      1023px 762px #fff, 1993px 779px #fff, 1875px 1921px #fff, 520px 330px #fff,
      1383px 1918px #fff, 972px 598px #fff, 1079px 483px #fff, 866px 1318px #fff,
      975px 878px #fff, 383px 1776px #fff, 715px 376px #fff, 1718px 950px #fff,
      571px 1071px #fff, 1819px 658px #fff, 1200px 868px #fff, 589px 342px #fff,
      1976px 755px #fff, 1678px 1075px #fff, 1095px 36px #fff, 353px 1496px #fff,
      1841px 458px #fff, 266px 1974px #fff, 1116px 179px #fff, 734px 1380px #fff,
      163px 1817px #fff, 300px 928px #fff, 783px 790px #fff, 812px 809px #fff,
      45px 1752px #fff, 69px 219px #fff, 1241px 1198px #fff, 550px 1858px #fff,
      1530px 168px #fff, 636px 1721px #fff, 1075px 463px #fff, 179px 1811px #fff,
      1022px 1443px #fff, 6px 930px #fff, 1147px 1360px #fff, 523px 1532px #fff,
      378px 1268px #fff, 1797px 1477px #fff, 4px 1789px #fff, 884px 1281px #fff,
      87px 100px #fff, 466px 648px #fff, 1376px 1904px #fff, 418px 1497px #fff,
      1527px 274px #fff, 348px 1883px #fff, 1403px 93px #fff, 946px 1781px #fff,
      366px 1836px #fff, 563px 1818px #fff, 87px 371px #fff, 1794px 793px #fff,
      406px 1981px #fff, 227px 925px #fff, 854px 347px #fff, 1041px 361px #fff,
      1189px 1626px #fff, 1338px 873px #fff, 990px 1217px #fff, 1206px 1098px #fff,
      1253px 569px #fff, 497px 1209px #fff, 176px 586px #fff, 365px 1661px #fff,
      1491px 40px #fff, 1178px 1153px #fff, 255px 1724px #fff, 1150px 628px #fff,
      1242px 1817px #fff, 216px 1643px #fff, 398px 1144px #fff, 1638px 624px #fff,
      393px 610px #fff, 1847px 222px #fff, 417px 933px #fff, 801px 161px #fff,
      1751px 1730px #fff, 1069px 244px #fff, 1366px 990px #fff, 896px 1765px #fff,
      677px 1344px #fff, 15px 1158px #fff, 76px 873px #fff, 1910px 1518px #fff,
      1559px 316px #fff, 925px 1054px #fff, 751px 551px #fff, 1749px 786px #fff,
      381px 1447px #fff, 283px 1375px #fff, 1742px 1959px #fff, 1293px 1145px #fff,
      1482px 1830px #fff, 893px 142px #fff, 1807px 296px #fff, 1684px 820px #fff,
      613px 720px #fff, 1277px 791px #fff, 1171px 1333px #fff, 1304px 118px #fff,
      929px 1544px #fff, 1229px 180px #fff, 1704px 298px #fff, 663px 348px #fff,
      256px 817px #fff, 970px 1404px #fff, 810px 193px #fff, 1554px 1059px #fff,
      1557px 1201px #fff, 832px 493px #fff, 1863px 618px #fff, 335px 1004px #fff,
      910px 1246px #fff, 69px 910px #fff, 204px 751px #fff, 212px 1740px #fff,
      468px 1835px #fff, 689px 1997px #fff, 1326px 1395px #fff, 1197px 46px #fff,
      329px 1862px #fff, 661px 953px #fff, 1270px 1926px #fff, 218px 1323px #fff,
      349px 1195px #fff, 282px 1052px #fff, 1846px 425px #fff, 1633px 669px #fff,
      1411px 1353px #fff, 1278px 785px #fff, 920px 652px #fff, 1004px 957px #fff,
      1914px 73px #fff, 644px 557px #fff, 1238px 1511px #fff, 839px 1451px #fff,
      1169px 1048px #fff, 1896px 1202px #fff, 813px 1435px #fff, 1156px 693px #fff,
      1092px 1861px #fff, 1601px 1899px #fff, 1756px 980px #fff, 1019px 688px #fff,
      1305px 1579px #fff, 1951px 41px #fff, 146px 655px #fff, 809px 865px #fff,
      1613px 754px #fff, 495px 190px #fff, 781px 569px #fff, 397px 445px #fff,
      913px 434px #fff, 1676px 1270px #fff, 368px 1361px #fff, 1268px 233px #fff,
      1849px 1959px #fff, 333px 573px #fff, 1601px 51px #fff, 688px 996px #fff,
      1950px 1567px #fff, 1214px 898px #fff, 111px 466px #fff, 629px 174px #fff,
      1705px 487px #fff, 260px 1377px #fff, 361px 1433px #fff, 1330px 456px #fff,
      425px 470px #fff, 1135px 305px #fff, 1986px 902px #fff, 1754px 787px #fff,
      433px 1546px #fff, 1915px 111px #fff, 1391px 18px #fff, 557px 1521px #fff,
      228px 1058px #fff, 1500px 486px #fff, 1329px 1134px #fff, 368px 1107px #fff,
      270px 1100px #fff, 523px 1045px #fff, 821px 868px #fff, 1789px 1769px #fff,
      1721px 237px #fff, 1151px 1623px #fff, 1214px 1267px #fff,
      1962px 1064px #fff, 248px 1059px #fff, 1695px 1989px #fff, 930px 261px #fff,
      1112px 1806px #fff, 1614px 461px #fff, 1239px 1375px #fff, 845px 1008px #fff,
      825px 1527px #fff, 1756px 688px #fff, 603px 477px #fff, 1605px 1580px #fff,
      1323px 1217px #fff, 1290px 501px #fff, 1315px 598px #fff, 1480px 370px #fff,
      1903px 1068px #fff, 1116px 292px #fff, 291px 967px #fff, 339px 415px #fff,
      1687px 1636px #fff, 1803px 1173px #fff, 578px 961px #fff, 1703px 1968px #fff,
      1836px 21px #fff, 1943px 667px #fff, 1780px 641px #fff, 347px 667px #fff,
      1371px 233px #fff, 655px 961px #fff, 1239px 1332px #fff, 1044px 458px #fff,
      1825px 690px #fff, 1023px 477px #fff, 1877px 862px #fff, 863px 1371px #fff,
      387px 1863px #fff, 150px 349px #fff, 1679px 527px #fff, 1541px 1383px #fff,
      322px 1003px #fff, 1260px 1312px #fff, 1028px 1145px #fff, 1243px 278px #fff,
      1653px 954px #fff, 851px 364px #fff, 1840px 512px #fff, 846px 1642px #fff,
      830px 949px #fff, 1595px 1123px #fff, 1400px 1492px #fff, 1481px 205px #fff,
      1814px 99px #fff, 776px 291px #fff, 1477px 778px #fff, 644px 1773px #fff,
      793px 1632px #fff, 429px 1723px #fff, 1752px 100px #fff, 1377px 1004px #fff,
      674px 1331px #fff, 1310px 1444px #fff, 1119px 1539px #fff, 163px 686px #fff,
      1147px 663px #fff, 1297px 1390px #fff, 743px 873px #fff, 624px 715px #fff,
      1810px 366px #fff, 270px 500px #fff, 1981px 840px #fff, 328px 557px #fff,
      761px 295px #fff, 1994px 1263px #fff, 259px 1734px #fff, 1532px 308px #fff,
      469px 1582px #fff, 1212px 1443px #fff, 740px 378px #fff, 172px 1523px #fff,
      708px 1745px #fff, 817px 1492px #fff, 1318px 1316px #fff, 655px 1363px #fff,
      759px 1140px #fff, 341px 533px #fff, 1490px 1023px #fff, 371px 1995px #fff,
      676px 1473px #fff, 388px 156px #fff, 1831px 102px #fff, 551px 413px #fff,
      168px 282px #fff, 273px 1192px #fff, 523px 935px #fff, 607px 109px #fff,
      357px 1311px #fff, 1487px 369px #fff, 1555px 1478px #fff, 1135px 267px #fff,
      1268px 1206px #fff, 1733px 1199px #fff, 1477px 1256px #fff,
      1657px 574px #fff, 429px 1112px #fff, 1779px 1061px #fff, 163px 875px #fff,
      732px 298px #fff, 159px 1979px #fff, 1959px 1675px #fff, 1306px 1427px #fff,
      752px 1115px #fff, 1508px 475px #fff, 1964px 1998px #fff, 1585px 1871px #fff,
      1940px 188px #fff, 867px 1410px #fff, 1192px 1188px #fff, 1887px 1815px #fff,
      319px 1354px #fff, 1681px 861px #fff, 336px 647px #fff, 343px 1625px #fff,
      1652px 1633px #fff, 759px 1997px #fff, 151px 1494px #fff, 932px 1726px #fff,
      1252px 1741px #fff, 1742px 1265px #fff, 386px 1797px #fff, 1175px 385px #fff,
      79px 94px #fff, 659px 1180px #fff, 120px 1603px #fff, 1735px 1010px #fff,
      1216px 195px #fff, 1659px 366px #fff, 1263px 1797px #fff, 679px 1785px #fff,
      1610px 1499px #fff, 1584px 981px #fff, 953px 824px #fff, 1244px 715px #fff,
      281px 726px #fff, 1909px 431px #fff, 1931px 1715px #fff, 786px 568px #fff,
      145px 266px #fff, 344px 520px #fff, 1714px 1934px #fff, 157px 1442px #fff,
      183px 1576px #fff, 1169px 1013px #fff, 1268px 1304px #fff, 10px 106px #fff,
      1464px 1307px #fff, 80px 627px #fff, 1191px 361px #fff, 1183px 1462px #fff,
      1423px 1992px #fff, 1734px 955px #fff, 91px 833px #fff, 1230px 223px #fff,
      1228px 1553px #fff;
    animation: animStar 50s linear infinite;
  }
  #stars:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 133px 856px #fff, 1944px 1393px #fff, 1731px 1623px #fff,
      1835px 614px #fff, 1198px 87px #fff, 375px 429px #fff, 1104px 201px #fff,
      90px 702px #fff, 144px 1364px #fff, 204px 87px #fff, 1646px 847px #fff,
      1398px 165px #fff, 1559px 1132px #fff, 884px 1127px #fff, 671px 1988px #fff,
      1544px 1991px #fff, 47px 1477px #fff, 878px 1138px #fff, 817px 1384px #fff,
      1475px 1493px #fff, 1342px 1138px #fff, 1699px 856px #fff,
      1736px 1083px #fff, 1347px 190px #fff, 1067px 525px #fff, 31px 777px #fff,
      925px 303px #fff, 989px 878px #fff, 1155px 123px #fff, 1817px 1619px #fff,
      1913px 1681px #fff, 1079px 388px #fff, 273px 169px #fff, 1251px 1494px #fff,
      1394px 426px #fff, 743px 1865px #fff, 1001px 1127px #fff, 1627px 1007px #fff,
      882px 1629px #fff, 691px 1453px #fff, 893px 1967px #fff, 1117px 681px #fff,
      1593px 1483px #fff, 1321px 329px #fff, 113px 1558px #fff, 800px 763px #fff,
      25px 46px #fff, 356px 92px #fff, 218px 487px #fff, 1414px 126px #fff,
      152px 264px #fff, 971px 340px #fff, 557px 185px #fff, 722px 1318px #fff,
      847px 583px #fff, 1318px 1682px #fff, 1420px 445px #fff, 1579px 614px #fff,
      429px 1895px #fff, 1296px 599px #fff, 1076px 746px #fff, 1061px 394px #fff,
      111px 180px #fff, 1684px 580px #fff, 1249px 410px #fff, 1603px 1245px #fff,
      690px 1263px #fff, 164px 660px #fff, 1026px 1561px #fff, 1693px 1749px #fff,
      1226px 844px #fff, 1307px 1436px #fff, 903px 1547px #fff, 1905px 999px #fff,
      1084px 303px #fff, 1675px 314px #fff, 1295px 446px #fff, 607px 1718px #fff,
      37px 454px #fff, 1367px 395px #fff, 1528px 940px #fff, 133px 91px #fff,
      712px 787px #fff, 1731px 1916px #fff, 45px 794px #fff, 1576px 942px #fff,
      1116px 485px #fff, 1038px 1108px #fff, 399px 1011px #fff, 918px 121px #fff,
      749px 126px #fff, 981px 1501px #fff, 1655px 929px #fff, 157px 537px #fff,
      211px 365px #fff, 1460px 1121px #fff, 1967px 1341px #fff, 1584px 1454px #fff,
      1540px 213px #fff, 553px 344px #fff, 569px 67px #fff, 128px 746px #fff,
      1341px 66px #fff, 1815px 1219px #fff, 1189px 596px #fff, 1774px 598px #fff,
      1589px 539px #fff, 1924px 426px #fff, 184px 463px #fff, 667px 1654px #fff,
      257px 1207px #fff, 375px 240px #fff, 1519px 885px #fff, 1923px 1859px #fff,
      109px 1060px #fff, 494px 859px #fff, 876px 113px #fff, 1290px 297px #fff,
      1381px 1425px #fff, 188px 891px #fff, 192px 208px #fff, 187px 1104px #fff,
      923px 1047px #fff, 1253px 1648px #fff, 93px 1050px #fff, 557px 1025px #fff,
      1608px 519px #fff, 1567px 72px #fff, 1748px 69px #fff, 619px 781px #fff,
      1129px 819px #fff, 285px 1464px #fff, 844px 311px #fff, 95px 250px #fff,
      703px 579px #fff, 134px 384px #fff, 577px 861px #fff, 1680px 1918px #fff,
      389px 821px #fff, 35px 1654px #fff, 1167px 992px #fff, 836px 1640px #fff,
      1629px 57px #fff, 188px 474px #fff, 1847px 1645px #fff, 1512px 874px #fff,
      1817px 1929px #fff, 650px 49px #fff, 673px 874px #fff, 312px 648px #fff,
      317px 754px #fff, 583px 195px #fff, 350px 1646px #fff, 1899px 180px #fff,
      1769px 1490px #fff, 1704px 584px #fff, 1631px 414px #fff, 988px 1137px #fff,
      1263px 1494px #fff, 1029px 1938px #fff, 1871px 283px #fff, 865px 666px #fff,
      69px 1633px #fff, 1395px 1334px #fff, 1637px 23px #fff, 1975px 542px #fff,
      1326px 302px #fff, 690px 443px #fff, 718px 1399px #fff, 405px 1615px #fff,
      913px 796px #fff, 312px 1650px #fff, 481px 1432px #fff, 235px 1564px #fff,
      392px 1462px #fff, 861px 831px #fff, 1909px 166px #fff, 183px 862px #fff,
      688px 1323px #fff, 1767px 1065px #fff, 409px 1540px #fff, 16px 877px #fff,
      1870px 1045px #fff, 1561px 1353px #fff, 989px 638px #fff, 713px 1747px #fff,
      1130px 1022px #fff, 336px 1543px #fff, 1331px 1227px #fff,
      1442px 1362px #fff, 1560px 1584px #fff, 562px 594px #fff, 1488px 1732px #fff,
      550px 1869px #fff, 198px 543px #fff, 1877px 1054px #fff, 814px 1810px #fff,
      77px 1195px #fff, 1141px 825px #fff, 125px 1976px #fff, 1546px 1096px #fff,
      1456px 1234px #fff, 188px 1087px #fff, 483px 760px #fff, 1788px 1863px #fff,
      93px 1321px #fff, 532px 1261px #fff, 1759px 1648px #fff, 477px 1943px #fff,
      122px 18px #fff, 772px 93px #fff, 542px 1374px #fff, 412px 1px #fff,
      685px 1173px #fff, 1259px 513px #fff, 1513px 1241px #fff, 1969px 683px #fff,
      1741px 390px #fff, 662px 622px #fff, 1125px 870px #fff, 1934px 1806px #fff,
      419px 1180px #fff, 6px 1919px #fff, 1924px 1964px #fff, 1792px 230px #fff,
      61px 1550px #fff, 819px 469px #fff, 719px 1554px #fff, 701px 535px #fff,
      223px 916px #fff, 1535px 1247px #fff, 496px 1044px #fff, 729px 431px #fff,
      1767px 161px #fff, 1924px 723px #fff, 897px 900px #fff, 448px 1324px #fff,
      245px 1925px #fff, 1195px 921px #fff, 858px 1107px #fff, 1846px 774px #fff,
      156px 937px #fff, 1713px 1222px #fff, 511px 574px #fff, 474px 587px #fff,
      1413px 507px #fff, 1722px 832px #fff, 1359px 1416px #fff, 1244px 913px #fff,
      212px 36px #fff, 701px 616px #fff, 286px 237px #fff, 1628px 273px #fff,
      510px 672px #fff, 958px 1698px #fff, 468px 285px #fff, 1940px 952px #fff,
      1161px 644px #fff, 1845px 574px #fff, 770px 1679px #fff, 1350px 1980px #fff,
      1708px 1913px #fff, 907px 1371px #fff, 759px 592px #fff, 994px 291px #fff,
      917px 1630px #fff, 550px 1611px #fff, 152px 1210px #fff, 421px 942px #fff,
      1068px 1575px #fff, 1110px 1121px #fff, 607px 536px #fff, 420px 1054px #fff,
      454px 600px #fff, 1444px 745px #fff, 1088px 744px #fff, 844px 89px #fff,
      210px 1944px #fff, 841px 391px #fff, 415px 1146px #fff, 985px 315px #fff,
      1394px 1290px #fff, 955px 122px #fff, 1255px 1360px #fff, 1075px 251px #fff,
      1262px 50px #fff, 70px 155px #fff, 1772px 1855px #fff, 39px 217px #fff,
      1143px 553px #fff, 757px 985px #fff, 1143px 621px #fff, 1046px 1296px #fff,
      1761px 375px #fff, 7px 554px #fff, 1534px 1238px #fff, 1894px 1905px #fff,
      1696px 1336px #fff, 477px 1609px #fff, 1935px 1765px #fff, 23px 156px #fff,
      520px 947px #fff, 957px 1729px #fff, 1104px 1340px #fff, 434px 877px #fff,
      1038px 1069px #fff, 413px 1832px #fff, 329px 1439px #fff, 41px 908px #fff,
      960px 1191px #fff, 16px 678px #fff, 1732px 96px #fff, 141px 1981px #fff,
      1204px 1451px #fff, 1264px 1458px #fff, 1907px 858px #fff, 1112px 671px #fff,
      1917px 541px #fff, 1027px 412px #fff, 171px 596px #fff, 1876px 1375px #fff,
      1800px 1097px #fff, 956px 154px #fff, 1379px 704px #fff, 935px 243px #fff,
      1557px 399px #fff, 216px 1001px #fff, 1426px 1183px #fff, 541px 315px #fff,
      413px 937px #fff, 1726px 394px #fff, 1318px 741px #fff, 1794px 1270px #fff,
      1351px 493px #fff, 730px 633px #fff, 903px 1321px #fff, 559px 342px #fff,
      1656px 758px #fff, 787px 1329px #fff, 168px 118px #fff, 272px 1197px #fff,
      417px 521px #fff, 906px 281px #fff, 175px 676px #fff, 442px 1416px #fff,
      1023px 762px #fff, 1993px 779px #fff, 1875px 1921px #fff, 520px 330px #fff,
      1383px 1918px #fff, 972px 598px #fff, 1079px 483px #fff, 866px 1318px #fff,
      975px 878px #fff, 383px 1776px #fff, 715px 376px #fff, 1718px 950px #fff,
      571px 1071px #fff, 1819px 658px #fff, 1200px 868px #fff, 589px 342px #fff,
      1976px 755px #fff, 1678px 1075px #fff, 1095px 36px #fff, 353px 1496px #fff,
      1841px 458px #fff, 266px 1974px #fff, 1116px 179px #fff, 734px 1380px #fff,
      163px 1817px #fff, 300px 928px #fff, 783px 790px #fff, 812px 809px #fff,
      45px 1752px #fff, 69px 219px #fff, 1241px 1198px #fff, 550px 1858px #fff,
      1530px 168px #fff, 636px 1721px #fff, 1075px 463px #fff, 179px 1811px #fff,
      1022px 1443px #fff, 6px 930px #fff, 1147px 1360px #fff, 523px 1532px #fff,
      378px 1268px #fff, 1797px 1477px #fff, 4px 1789px #fff, 884px 1281px #fff,
      87px 100px #fff, 466px 648px #fff, 1376px 1904px #fff, 418px 1497px #fff,
      1527px 274px #fff, 348px 1883px #fff, 1403px 93px #fff, 946px 1781px #fff,
      366px 1836px #fff, 563px 1818px #fff, 87px 371px #fff, 1794px 793px #fff,
      406px 1981px #fff, 227px 925px #fff, 854px 347px #fff, 1041px 361px #fff,
      1189px 1626px #fff, 1338px 873px #fff, 990px 1217px #fff, 1206px 1098px #fff,
      1253px 569px #fff, 497px 1209px #fff, 176px 586px #fff, 365px 1661px #fff,
      1491px 40px #fff, 1178px 1153px #fff, 255px 1724px #fff, 1150px 628px #fff,
      1242px 1817px #fff, 216px 1643px #fff, 398px 1144px #fff, 1638px 624px #fff,
      393px 610px #fff, 1847px 222px #fff, 417px 933px #fff, 801px 161px #fff,
      1751px 1730px #fff, 1069px 244px #fff, 1366px 990px #fff, 896px 1765px #fff,
      677px 1344px #fff, 15px 1158px #fff, 76px 873px #fff, 1910px 1518px #fff,
      1559px 316px #fff, 925px 1054px #fff, 751px 551px #fff, 1749px 786px #fff,
      381px 1447px #fff, 283px 1375px #fff, 1742px 1959px #fff, 1293px 1145px #fff,
      1482px 1830px #fff, 893px 142px #fff, 1807px 296px #fff, 1684px 820px #fff,
      613px 720px #fff, 1277px 791px #fff, 1171px 1333px #fff, 1304px 118px #fff,
      929px 1544px #fff, 1229px 180px #fff, 1704px 298px #fff, 663px 348px #fff,
      256px 817px #fff, 970px 1404px #fff, 810px 193px #fff, 1554px 1059px #fff,
      1557px 1201px #fff, 832px 493px #fff, 1863px 618px #fff, 335px 1004px #fff,
      910px 1246px #fff, 69px 910px #fff, 204px 751px #fff, 212px 1740px #fff,
      468px 1835px #fff, 689px 1997px #fff, 1326px 1395px #fff, 1197px 46px #fff,
      329px 1862px #fff, 661px 953px #fff, 1270px 1926px #fff, 218px 1323px #fff,
      349px 1195px #fff, 282px 1052px #fff, 1846px 425px #fff, 1633px 669px #fff,
      1411px 1353px #fff, 1278px 785px #fff, 920px 652px #fff, 1004px 957px #fff,
      1914px 73px #fff, 644px 557px #fff, 1238px 1511px #fff, 839px 1451px #fff,
      1169px 1048px #fff, 1896px 1202px #fff, 813px 1435px #fff, 1156px 693px #fff,
      1092px 1861px #fff, 1601px 1899px #fff, 1756px 980px #fff, 1019px 688px #fff,
      1305px 1579px #fff, 1951px 41px #fff, 146px 655px #fff, 809px 865px #fff,
      1613px 754px #fff, 495px 190px #fff, 781px 569px #fff, 397px 445px #fff,
      913px 434px #fff, 1676px 1270px #fff, 368px 1361px #fff, 1268px 233px #fff,
      1849px 1959px #fff, 333px 573px #fff, 1601px 51px #fff, 688px 996px #fff,
      1950px 1567px #fff, 1214px 898px #fff, 111px 466px #fff, 629px 174px #fff,
      1705px 487px #fff, 260px 1377px #fff, 361px 1433px #fff, 1330px 456px #fff,
      425px 470px #fff, 1135px 305px #fff, 1986px 902px #fff, 1754px 787px #fff,
      433px 1546px #fff, 1915px 111px #fff, 1391px 18px #fff, 557px 1521px #fff,
      228px 1058px #fff, 1500px 486px #fff, 1329px 1134px #fff, 368px 1107px #fff,
      270px 1100px #fff, 523px 1045px #fff, 821px 868px #fff, 1789px 1769px #fff,
      1721px 237px #fff, 1151px 1623px #fff, 1214px 1267px #fff,
      1962px 1064px #fff, 248px 1059px #fff, 1695px 1989px #fff, 930px 261px #fff,
      1112px 1806px #fff, 1614px 461px #fff, 1239px 1375px #fff, 845px 1008px #fff,
      825px 1527px #fff, 1756px 688px #fff, 603px 477px #fff, 1605px 1580px #fff,
      1323px 1217px #fff, 1290px 501px #fff, 1315px 598px #fff, 1480px 370px #fff,
      1903px 1068px #fff, 1116px 292px #fff, 291px 967px #fff, 339px 415px #fff,
      1687px 1636px #fff, 1803px 1173px #fff, 578px 961px #fff, 1703px 1968px #fff,
      1836px 21px #fff, 1943px 667px #fff, 1780px 641px #fff, 347px 667px #fff,
      1371px 233px #fff, 655px 961px #fff, 1239px 1332px #fff, 1044px 458px #fff,
      1825px 690px #fff, 1023px 477px #fff, 1877px 862px #fff, 863px 1371px #fff,
      387px 1863px #fff, 150px 349px #fff, 1679px 527px #fff, 1541px 1383px #fff,
      322px 1003px #fff, 1260px 1312px #fff, 1028px 1145px #fff, 1243px 278px #fff,
      1653px 954px #fff, 851px 364px #fff, 1840px 512px #fff, 846px 1642px #fff,
      830px 949px #fff, 1595px 1123px #fff, 1400px 1492px #fff, 1481px 205px #fff,
      1814px 99px #fff, 776px 291px #fff, 1477px 778px #fff, 644px 1773px #fff,
      793px 1632px #fff, 429px 1723px #fff, 1752px 100px #fff, 1377px 1004px #fff,
      674px 1331px #fff, 1310px 1444px #fff, 1119px 1539px #fff, 163px 686px #fff,
      1147px 663px #fff, 1297px 1390px #fff, 743px 873px #fff, 624px 715px #fff,
      1810px 366px #fff, 270px 500px #fff, 1981px 840px #fff, 328px 557px #fff,
      761px 295px #fff, 1994px 1263px #fff, 259px 1734px #fff, 1532px 308px #fff,
      469px 1582px #fff, 1212px 1443px #fff, 740px 378px #fff, 172px 1523px #fff,
      708px 1745px #fff, 817px 1492px #fff, 1318px 1316px #fff, 655px 1363px #fff,
      759px 1140px #fff, 341px 533px #fff, 1490px 1023px #fff, 371px 1995px #fff,
      676px 1473px #fff, 388px 156px #fff, 1831px 102px #fff, 551px 413px #fff,
      168px 282px #fff, 273px 1192px #fff, 523px 935px #fff, 607px 109px #fff,
      357px 1311px #fff, 1487px 369px #fff, 1555px 1478px #fff, 1135px 267px #fff,
      1268px 1206px #fff, 1733px 1199px #fff, 1477px 1256px #fff,
      1657px 574px #fff, 429px 1112px #fff, 1779px 1061px #fff, 163px 875px #fff,
      732px 298px #fff, 159px 1979px #fff, 1959px 1675px #fff, 1306px 1427px #fff,
      752px 1115px #fff, 1508px 475px #fff, 1964px 1998px #fff, 1585px 1871px #fff,
      1940px 188px #fff, 867px 1410px #fff, 1192px 1188px #fff, 1887px 1815px #fff,
      319px 1354px #fff, 1681px 861px #fff, 336px 647px #fff, 343px 1625px #fff,
      1652px 1633px #fff, 759px 1997px #fff, 151px 1494px #fff, 932px 1726px #fff,
      1252px 1741px #fff, 1742px 1265px #fff, 386px 1797px #fff, 1175px 385px #fff,
      79px 94px #fff, 659px 1180px #fff, 120px 1603px #fff, 1735px 1010px #fff,
      1216px 195px #fff, 1659px 366px #fff, 1263px 1797px #fff, 679px 1785px #fff,
      1610px 1499px #fff, 1584px 981px #fff, 953px 824px #fff, 1244px 715px #fff,
      281px 726px #fff, 1909px 431px #fff, 1931px 1715px #fff, 786px 568px #fff,
      145px 266px #fff, 344px 520px #fff, 1714px 1934px #fff, 157px 1442px #fff,
      183px 1576px #fff, 1169px 1013px #fff, 1268px 1304px #fff, 10px 106px #fff,
      1464px 1307px #fff, 80px 627px #fff, 1191px 361px #fff, 1183px 1462px #fff,
      1423px 1992px #fff, 1734px 955px #fff, 91px 833px #fff, 1230px 223px #fff,
      1228px 1553px #fff;
  }
  
  #stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 337px 102px #fff, 234px 1427px #fff, 28px 1206px #fff,
      523px 411px #fff, 253px 885px #fff, 805px 1622px #fff, 1384px 255px #fff,
      238px 792px #fff, 272px 1265px #fff, 118px 1957px #fff, 1466px 1202px #fff,
      858px 609px #fff, 1518px 1633px #fff, 1879px 1725px #fff, 1430px 1857px #fff,
      449px 366px #fff, 1625px 1669px #fff, 1684px 977px #fff, 1198px 1986px #fff,
      1539px 1759px #fff, 1123px 1359px #fff, 1779px 987px #fff, 602px 1273px #fff,
      1863px 265px #fff, 87px 453px #fff, 783px 697px #fff, 1378px 808px #fff,
      252px 369px #fff, 126px 215px #fff, 403px 965px #fff, 698px 858px #fff,
      200px 1737px #fff, 1487px 1841px #fff, 1813px 126px #fff, 1977px 705px #fff,
      743px 822px #fff, 963px 277px #fff, 1597px 1283px #fff, 1092px 571px #fff,
      1657px 732px #fff, 1650px 1217px #fff, 1541px 63px #fff, 1184px 686px #fff,
      1701px 412px #fff, 322px 584px #fff, 1921px 1588px #fff, 10px 1278px #fff,
      1942px 524px #fff, 721px 1106px #fff, 103px 571px #fff, 1433px 677px #fff,
      1043px 1165px #fff, 1247px 1609px #fff, 972px 1082px #fff, 866px 25px #fff,
      542px 836px #fff, 726px 1804px #fff, 189px 1531px #fff, 1406px 1890px #fff,
      1464px 1660px #fff, 710px 1891px #fff, 254px 1057px #fff, 946px 1683px #fff,
      1660px 1455px #fff, 1068px 223px #fff, 1606px 1624px #fff, 1038px 151px #fff,
      1838px 530px #fff, 1365px 142px #fff, 689px 892px #fff, 710px 532px #fff,
      173px 835px #fff, 337px 1641px #fff, 1531px 1726px #fff, 979px 224px #fff,
      816px 1350px #fff, 126px 307px #fff, 520px 789px #fff, 292px 506px #fff,
      1010px 1559px #fff, 54px 1740px #fff, 268px 378px #fff, 1980px 1928px #fff,
      1713px 354px #fff, 430px 1983px #fff, 984px 341px #fff, 1958px 810px #fff,
      1010px 97px #fff, 375px 1281px #fff, 1453px 1550px #fff, 1853px 768px #fff,
      1448px 9px #fff, 548px 1193px #fff, 1390px 977px #fff, 142px 8px #fff,
      883px 343px #fff, 1355px 594px #fff, 1410px 991px #fff, 224px 1146px #fff,
      1720px 102px #fff, 1112px 500px #fff, 1154px 652px #fff, 589px 716px #fff,
      762px 823px #fff, 1878px 421px #fff, 678px 1547px #fff, 1936px 1771px #fff,
      1041px 1610px #fff, 592px 1340px #fff, 1678px 1508px #fff,
      1857px 1110px #fff, 1880px 327px #fff, 1826px 1026px #fff, 972px 1315px #fff,
      867px 437px #fff, 1503px 1677px #fff, 163px 916px #fff, 839px 531px #fff,
      1238px 897px #fff, 533px 616px #fff, 1509px 874px #fff, 379px 1509px #fff,
      1196px 754px #fff, 704px 1602px #fff, 1076px 453px #fff, 1752px 722px #fff,
      1786px 1026px #fff, 1768px 246px #fff, 1054px 83px #fff, 138px 1981px #fff,
      359px 964px #fff, 400px 1501px #fff, 1391px 1392px #fff, 351px 1237px #fff,
      1178px 1312px #fff, 1071px 277px #fff, 1062px 1961px #fff, 1950px 148px #fff,
      858px 123px #fff, 949px 1307px #fff, 748px 868px #fff, 1980px 1862px #fff,
      1921px 79px #fff, 1553px 1054px #fff, 875px 1867px #fff, 241px 438px #fff,
      1450px 662px #fff, 787px 615px #fff, 466px 552px #fff, 1370px 33px #fff,
      280px 1259px #fff, 825px 1961px #fff, 649px 60px #fff, 1247px 1598px #fff,
      1546px 1655px #fff, 612px 813px #fff, 557px 1541px #fff, 1649px 630px #fff,
      1637px 1223px #fff, 717px 1634px #fff, 703px 424px #fff, 1616px 953px #fff,
      255px 1789px #fff, 1607px 26px #fff, 363px 1866px #fff, 1294px 1804px #fff,
      1067px 340px #fff, 1432px 686px #fff, 1890px 1521px #fff, 80px 918px #fff,
      591px 1035px #fff, 1542px 1772px #fff, 1136px 761px #fff, 1061px 488px #fff,
      476px 1241px #fff, 1927px 1306px #fff, 1398px 1545px #fff, 1577px 163px #fff,
      1288px 1957px #fff, 845px 70px #fff, 1285px 18px #fff, 8px 1158px #fff,
      448px 1153px #fff, 147px 1125px #fff, 283px 718px #fff, 137px 689px #fff,
      658px 855px #fff, 916px 963px #fff, 949px 645px #fff, 1445px 1574px #fff,
      958px 1530px #fff, 148px 513px #fff, 720px 1656px #fff, 239px 328px #fff,
      1446px 1953px #fff, 1849px 1611px #fff, 129px 1998px #fff, 1627px 940px #fff,
      925px 1124px #fff, 1623px 275px #fff;
    animation: animStar 100s linear infinite;
  }
  #stars2:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 337px 102px #fff, 234px 1427px #fff, 28px 1206px #fff,
      523px 411px #fff, 253px 885px #fff, 805px 1622px #fff, 1384px 255px #fff,
      238px 792px #fff, 272px 1265px #fff, 118px 1957px #fff, 1466px 1202px #fff,
      858px 609px #fff, 1518px 1633px #fff, 1879px 1725px #fff, 1430px 1857px #fff,
      449px 366px #fff, 1625px 1669px #fff, 1684px 977px #fff, 1198px 1986px #fff,
      1539px 1759px #fff, 1123px 1359px #fff, 1779px 987px #fff, 602px 1273px #fff,
      1863px 265px #fff, 87px 453px #fff, 783px 697px #fff, 1378px 808px #fff,
      252px 369px #fff, 126px 215px #fff, 403px 965px #fff, 698px 858px #fff,
      200px 1737px #fff, 1487px 1841px #fff, 1813px 126px #fff, 1977px 705px #fff,
      743px 822px #fff, 963px 277px #fff, 1597px 1283px #fff, 1092px 571px #fff,
      1657px 732px #fff, 1650px 1217px #fff, 1541px 63px #fff, 1184px 686px #fff,
      1701px 412px #fff, 322px 584px #fff, 1921px 1588px #fff, 10px 1278px #fff,
      1942px 524px #fff, 721px 1106px #fff, 103px 571px #fff, 1433px 677px #fff,
      1043px 1165px #fff, 1247px 1609px #fff, 972px 1082px #fff, 866px 25px #fff,
      542px 836px #fff, 726px 1804px #fff, 189px 1531px #fff, 1406px 1890px #fff,
      1464px 1660px #fff, 710px 1891px #fff, 254px 1057px #fff, 946px 1683px #fff,
      1660px 1455px #fff, 1068px 223px #fff, 1606px 1624px #fff, 1038px 151px #fff,
      1838px 530px #fff, 1365px 142px #fff, 689px 892px #fff, 710px 532px #fff,
      173px 835px #fff, 337px 1641px #fff, 1531px 1726px #fff, 979px 224px #fff,
      816px 1350px #fff, 126px 307px #fff, 520px 789px #fff, 292px 506px #fff,
      1010px 1559px #fff, 54px 1740px #fff, 268px 378px #fff, 1980px 1928px #fff,
      1713px 354px #fff, 430px 1983px #fff, 984px 341px #fff, 1958px 810px #fff,
      1010px 97px #fff, 375px 1281px #fff, 1453px 1550px #fff, 1853px 768px #fff,
      1448px 9px #fff, 548px 1193px #fff, 1390px 977px #fff, 142px 8px #fff,
      883px 343px #fff, 1355px 594px #fff, 1410px 991px #fff, 224px 1146px #fff,
      1720px 102px #fff, 1112px 500px #fff, 1154px 652px #fff, 589px 716px #fff,
      762px 823px #fff, 1878px 421px #fff, 678px 1547px #fff, 1936px 1771px #fff,
      1041px 1610px #fff, 592px 1340px #fff, 1678px 1508px #fff,
      1857px 1110px #fff, 1880px 327px #fff, 1826px 1026px #fff, 972px 1315px #fff,
      867px 437px #fff, 1503px 1677px #fff, 163px 916px #fff, 839px 531px #fff,
      1238px 897px #fff, 533px 616px #fff, 1509px 874px #fff, 379px 1509px #fff,
      1196px 754px #fff, 704px 1602px #fff, 1076px 453px #fff, 1752px 722px #fff,
      1786px 1026px #fff, 1768px 246px #fff, 1054px 83px #fff, 138px 1981px #fff,
      359px 964px #fff, 400px 1501px #fff, 1391px 1392px #fff, 351px 1237px #fff,
      1178px 1312px #fff, 1071px 277px #fff, 1062px 1961px #fff, 1950px 148px #fff,
      858px 123px #fff, 949px 1307px #fff, 748px 868px #fff, 1980px 1862px #fff,
      1921px 79px #fff, 1553px 1054px #fff, 875px 1867px #fff, 241px 438px #fff,
      1450px 662px #fff, 787px 615px #fff, 466px 552px #fff, 1370px 33px #fff,
      280px 1259px #fff, 825px 1961px #fff, 649px 60px #fff, 1247px 1598px #fff,
      1546px 1655px #fff, 612px 813px #fff, 557px 1541px #fff, 1649px 630px #fff,
      1637px 1223px #fff, 717px 1634px #fff, 703px 424px #fff, 1616px 953px #fff,
      255px 1789px #fff, 1607px 26px #fff, 363px 1866px #fff, 1294px 1804px #fff,
      1067px 340px #fff, 1432px 686px #fff, 1890px 1521px #fff, 80px 918px #fff,
      591px 1035px #fff, 1542px 1772px #fff, 1136px 761px #fff, 1061px 488px #fff,
      476px 1241px #fff, 1927px 1306px #fff, 1398px 1545px #fff, 1577px 163px #fff,
      1288px 1957px #fff, 845px 70px #fff, 1285px 18px #fff, 8px 1158px #fff,
      448px 1153px #fff, 147px 1125px #fff, 283px 718px #fff, 137px 689px #fff,
      658px 855px #fff, 916px 963px #fff, 949px 645px #fff, 1445px 1574px #fff,
      958px 1530px #fff, 148px 513px #fff, 720px 1656px #fff, 239px 328px #fff,
      1446px 1953px #fff, 1849px 1611px #fff, 129px 1998px #fff, 1627px 940px #fff,
      925px 1124px #fff, 1623px 275px #fff;
  }
  
  #stars3 {
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 988px 631px #fff, 1541px 295px #fff, 813px 391px #fff,
      1252px 959px #fff, 1282px 1989px #fff, 806px 360px #fff, 589px 1553px #fff,
      1923px 1758px #fff, 64px 1178px #fff, 669px 1729px #fff, 387px 705px #fff,
      1861px 299px #fff, 887px 1895px #fff, 29px 43px #fff, 103px 1324px #fff,
      1649px 1723px #fff, 1732px 550px #fff, 1336px 1934px #fff, 767px 354px #fff,
      8px 1379px #fff, 273px 1994px #fff, 874px 1958px #fff, 413px 1785px #fff,
      1533px 679px #fff, 1532px 1248px #fff, 328px 1019px #fff, 1423px 195px #fff,
      927px 15px #fff, 731px 297px #fff, 427px 936px #fff, 150px 1925px #fff,
      1215px 1233px #fff, 1359px 123px #fff, 1025px 1730px #fff,
      1645px 1191px #fff, 1283px 544px #fff, 1779px 1780px #fff, 907px 218px #fff,
      874px 622px #fff, 1031px 1969px #fff, 1801px 1129px #fff, 906px 49px #fff,
      1744px 1343px #fff, 850px 987px #fff, 106px 1316px #fff, 480px 15px #fff,
      31px 1597px #fff, 976px 1022px #fff, 1646px 1981px #fff, 1321px 886px #fff,
      197px 1283px #fff, 255px 681px #fff, 488px 596px #fff, 341px 710px #fff,
      454px 1012px #fff, 1224px 788px #fff, 297px 608px #fff, 1940px 255px #fff,
      1557px 1084px #fff, 379px 1448px #fff, 1916px 1352px #fff, 1938px 668px #fff,
      30px 900px #fff, 1594px 1679px #fff, 1113px 1002px #fff, 1290px 1116px #fff,
      1535px 606px #fff, 1413px 1322px #fff, 197px 1797px #fff, 540px 1215px #fff,
      604px 546px #fff, 1127px 819px #fff, 1506px 1370px #fff, 351px 1613px #fff,
      1050px 609px #fff, 137px 750px #fff, 676px 37px #fff, 1588px 1819px #fff,
      1932px 1982px #fff, 546px 1634px #fff, 1838px 664px #fff, 942px 1599px #fff,
      859px 942px #fff, 1494px 1913px #fff, 1115px 1047px #fff, 1347px 1654px #fff,
      999px 885px #fff, 611px 654px #fff, 1931px 699px #fff, 1111px 1505px #fff,
      652px 231px #fff, 1227px 1823px #fff, 1342px 871px #fff, 446px 1845px #fff,
      1525px 375px #fff, 447px 1615px #fff, 1946px 1553px #fff, 1246px 569px #fff,
      120px 603px #fff, 1138px 393px #fff;
    animation: animStar 150s linear infinite;
  }
  #stars3:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 988px 631px #fff, 1541px 295px #fff, 813px 391px #fff,
      1252px 959px #fff, 1282px 1989px #fff, 806px 360px #fff, 589px 1553px #fff,
      1923px 1758px #fff, 64px 1178px #fff, 669px 1729px #fff, 387px 705px #fff,
      1861px 299px #fff, 887px 1895px #fff, 29px 43px #fff, 103px 1324px #fff,
      1649px 1723px #fff, 1732px 550px #fff, 1336px 1934px #fff, 767px 354px #fff,
      8px 1379px #fff, 273px 1994px #fff, 874px 1958px #fff, 413px 1785px #fff,
      1533px 679px #fff, 1532px 1248px #fff, 328px 1019px #fff, 1423px 195px #fff,
      927px 15px #fff, 731px 297px #fff, 427px 936px #fff, 150px 1925px #fff,
      1215px 1233px #fff, 1359px 123px #fff, 1025px 1730px #fff,
      1645px 1191px #fff, 1283px 544px #fff, 1779px 1780px #fff, 907px 218px #fff,
      874px 622px #fff, 1031px 1969px #fff, 1801px 1129px #fff, 906px 49px #fff,
      1744px 1343px #fff, 850px 987px #fff, 106px 1316px #fff, 480px 15px #fff,
      31px 1597px #fff, 976px 1022px #fff, 1646px 1981px #fff, 1321px 886px #fff,
      197px 1283px #fff, 255px 681px #fff, 488px 596px #fff, 341px 710px #fff,
      454px 1012px #fff, 1224px 788px #fff, 297px 608px #fff, 1940px 255px #fff,
      1557px 1084px #fff, 379px 1448px #fff, 1916px 1352px #fff, 1938px 668px #fff,
      30px 900px #fff, 1594px 1679px #fff, 1113px 1002px #fff, 1290px 1116px #fff,
      1535px 606px #fff, 1413px 1322px #fff, 197px 1797px #fff, 540px 1215px #fff,
      604px 546px #fff, 1127px 819px #fff, 1506px 1370px #fff, 351px 1613px #fff,
      1050px 609px #fff, 137px 750px #fff, 676px 37px #fff, 1588px 1819px #fff,
      1932px 1982px #fff, 546px 1634px #fff, 1838px 664px #fff, 942px 1599px #fff,
      859px 942px #fff, 1494px 1913px #fff, 1115px 1047px #fff, 1347px 1654px #fff,
      999px 885px #fff, 611px 654px #fff, 1931px 699px #fff, 1111px 1505px #fff,
      652px 231px #fff, 1227px 1823px #fff, 1342px 871px #fff, 446px 1845px #fff,
      1525px 375px #fff, 447px 1615px #fff, 1946px 1553px #fff, 1246px 569px #fff,
      120px 603px #fff, 1138px 393px #fff;
  }
  
  #title {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    color: #fff;
    text-align: center;
    font-family: "lato", sans-serif;
    font-weight: 300;
    font-size: 50px;
    letter-spacing: 10px;
    margin-top: -60px;
    padding-left: 10px;
  }
  #title span {
    background: -webkit-linear-gradient(white, #38495a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  @keyframes animStar {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-2000px);
    }
  }
  